.loader {
    border-radius: 50%;
    border: 1px dashed tomato;
    width: 100px;
    height: 100px;
    animation: loading 1s infinite  linear;
}

.container {
    display: flex;
    justify-content: center;
}


@keyframes loading {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }

}
